@import "variables";
@import "extends";


footer{
    background-color: $bg-amarillo;
    padding: 2%;
}

footer div p{
    margin: 0px;
    padding: 0px;
    height: 150px;
    width: 150px;
}



.d-flex{
    @extend %centrado;
}

