
/* MAIN INFORMATE*/

/*textobien2 comparte*/

.titulo1{
    margin: 0%;
    font-size: x-large;
    @extend %centrado;
    text-align: center;
}

.parrafoinformate{
    margin: 0%;
}

/* FIN MAIN INFORMATE*/