
*{
    margin: 0;
    padding: 0;
}

@import "../scss/header";
@import "../scss/footer";
@import "../scss/variables";
@import "../scss/extends";
@import "../scss/maincontacto";
@import "../scss/pacientes";
@import "../scss/maininformate";
@import "../scss/adopta";
@import "../scss/mixin";


/* MAIN INDEX */

.fondoindex{
    background-image: url(../img/fondo-patitas-huesos.jpg);
    background-attachment: fixed;
}

/* FIN MAIN INDEX */


/* MOBILE */
@media (min-width: 481px) and (max-width: 999px){
    .logo{
        height: 6rem;
        width: 6rem; 
    }

    .div-main{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 2;
    }

    .img-juan{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        padding: 1rem;
        margin-top: 1rem;
        align-items: center;
        border-radius: 50%;
        width: 30rem;
        height: 30rem;
    }

    .texto-aboutme{
        padding: 1rem;
        height: fit-content;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-top: 1rem;
    }
    
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "roboto";
    }

    .pacientes-sec{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .texto-adopta{
        height: auto;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
       
    }

    .titulo-form{
        text-align: center;
        font-family: "roboto";
        color: whitesmoke;
        font-size: 1rem;
    }



    .parrafoinformate{
        height: auto;
        width: auto;
    }
    main{
        margin: 0%;
    }

    .imagenvet{
        width: 25rem;
        justify-content: center;
        margin-top: 2rem;
    }

    .fondoindex{
        height: 20rem;
        width: auto;
    }
        
}


body{
    main{
        div{
            nav{
                ul{
                    li{
                        list-style: none;
                    }
                }
            }
        }
    }
}


/* Mobile pequeño*/

@media (min-width: 320px) and (max-width: 480px){
    .logo{
        height: 4rem;
        width: 4rem; 
    }

    .text-center{
        font-size: 1rem;
        padding-top: 0.50rem;
    }
    .div-main{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 2;
    }

    .img-juan{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        padding: 1rem;
        margin-top: 1rem;
        align-items: center;
        border-radius: 50%;
        width: 18rem;
        height: 18rem;
    }

    .texto-aboutme{
        padding: 1rem;
        height: fit-content;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-top: 1rem;
    }
    
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "roboto";
    }

    .pacientes-sec{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .texto-adopta{
        height: auto;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    .titulo-form{
        text-align: center;
        font-family: "roboto";
        color: whitesmoke;
        font-size: 1rem;
    }



    .parrafoinformate{
        height: auto;
        width: auto;
    }
    main{
        margin: 0%;
    }

    .imagenvet{
        width: 17rem;
        justify-content: center;
        margin-top: 2rem;
    }

    .fondoindex{
        height: 15rem;
        width: auto;
    }

    form{
        width: 100%;
        padding: 0px;
        font-family: "roboto";
    }
    
    input, textarea{
        width: 100%;
        margin-bottom: 1rem;
        padding: 0%;
        box-sizing: border-box;
    }
    textarea{
        min-height: 15rem;
        max-height: 30rem;
        max-width: 100%;
        margin-left: 2rem;
    }
    #boton{
        border-radius: 30%;
        padding: 0%;
    }

    .d-flex{
        flex-wrap: wrap;
        margin: 0%;
    }
    
}
